@model System.Collections.Specialized.NameValueCollection
 <div class="pull-right">
        @Html.Partial("Button_Back_List")
    </div>
    <div>
        <blockquote>
            <h3>
                @if (ViewContext.RouteData.Values["Id"] == null)
                {
                    <span>新建</span>  
                }
                else
                {
                    <span>编辑</span>   
                }
            </h3>
        </blockquote>
    </div>
    <hr />
<div class="form-horizontal">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "Main" }))
    {
        
        <div style="clear: both;">
            <div class="editor-label">
                @ViewBag.id
            </div>
            <div class="editor-field">
                @Html.TextBox("value")
                @Html.ValidationMessage("value")
            </div>
        </div>
        @Html.Partial("Button_Submit")
    }
</div>
