@model Models.UserModels.Knowledge

<div>

    <blockquote class="col-lg-3 ">
        <h3>
            @Model.KnowledgeTitle @(Model.Public ? "" : "（私有）")
        </h3>
        <small>创建人：@Html.Partial("SysUserDisplay", Model.SysUser) 日期：@Html.DisplayFor(a=>a.CreatedDate)</small>
    </blockquote>

    <div class="col-xs-3  pull-right text-right">
        @Html.Partial("Button_Back_List")
    </div>

</div>
<div class="clearfix"></div>
<div>

    <blockquote>
        @Html.DisplayFor(a => a.KnowledgeContent)
    </blockquote>
</div>
<div>
    <div id="KnowledgeReply">
        @Html.Action("Index", "KnowledgeReply", new { KnowledgeId = Model.Id })
    </div>
</div>

